<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication.Site</title>

    <environment include="Development">

    </environment>
    <environment exclude="Development">

    </environment>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - WebApplication.Site</p>
        </footer>
    </div>

    <environment include="Development">

    </environment>
    <environment exclude="Development">

    </environment>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
